body {
    background-color: rosybrown;
    font-size: medium;
    color:rgb(126, 68, 68);
    border: solid 2px rgb(126, 68, 68);
    width: 300px;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
}
